<div class="question-wrapper">
    <div class="question-box" (click)="toggleFlip()" [@flipState]="flip" [ngClass]="flip">
        <div class="question-box__side question-box__front">
            <h1 *ngIf="question" class="card-content">{{ question }}</h1>
        </div>
        <div class="question-box__side question-box__back">
            <h5 class="card-content">{{ answer }}</h5>
        </div>
    </div>
</div>

<div class="button-wrap">
    <button class="answer-button" kendoButton [primary]="true" (click)="getNew()">
        <span class="k-icon k-i-reload"></span>
        Next question</button>
</div>